<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/style.css">
        <title>Document</title>
    </head>
    <body>
        <div id="app">
            <div class="container">
                <!-- sidebar -->
                <div class="sidebar">
                    <div class="top-sidebar">
                        <div class="user-top-sidebar">

                        </div>
                        <div class="icons-top-sidebar">

                        </div>
                    </div>
                    <div class="notify-sidebar">
                    </div>
                    <div class="searchbar-sidebar">
                    </div>
                    <div class="chat-sidebar">
                        <ul class="unstyled-list">
                            <li v-for="item in contacts">
                                <div class="image-contact">
                                    <img :src="`./img/${item.avatar}`">
                                </div>
                                {{ item.name }}
                            </li> 
                        </ul>
                    </div>
                </div>
                <!-- main container -->
                <div class="main-container">
                    <div class="top-main-container">
                        <div class="user-main-container">

                        </div>
                        <div class="icons-main-container">

                        </div>
                    </div>
                    <div class="chat-container">
                        <ul class="unstyled-list">
                            <li v-for="(item, index) in contacts">
                                {{ item.messages[0].message }}
                            </li>
                        </ul>
                    </div>
                    <div class="bottombar-main-container">
                        <div class="emoji">
                        </div>
                        <div class="text-bar">
                        </div>
                        <div class="microphone">
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="./js/script.js"></script>
    </body>
</html>